*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sans-serif', 'Poppins', 'Roboto';
}

.container{
    max-width: 80%;
    /* background-color: cyan; */
    padding : 20px;
    margin: auto;
}
.container h1,p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0;
}

.container h1{
    font-size: 70px;
}
.container p{
    font-size: 40px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input,textarea{
    display: block;
    width: 80%;
    margin:6px auto;
    padding:10px;
    font-size: 28px;
    width: 500px;
    border: 2px solid mediumslateblue;
    outline: none;
    border-radius: 20px;
    
}
.submsg{
    color: rgb(12, 12, 12);
    font-size: 28px;
}
.btn{
    color: white;
    background: royalblue;
    padding: 5px;
    font-size: 24px;
    border: 2px solid honeydew;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(67, 210, 11);
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.65;
}
